header{
    background-image: url("food1.jpg");
    background-size: 20%;
    box-shadow: 6px 6px 12px rgb(22, 22, 22);
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    
 
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container-platos{
    min-height: 200px;
    background-image: url("pattenkitchen\ \(1\).png");
}
.platos{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.platos .card{
    width: 18rem;
    border:solid 1px black;
    box-shadow: 6px 6px 12px grey;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(235, 211, 211, 0.9);
    color: rgb(4, 4, 98);
    
}
body{
    background-color: rgb(184, 251, 253);
}
.navbar{
    box-shadow: 6px 6px 12px rgb(22, 22, 22);
}

